@import '../styles/mixin.scss';
@import './mixin.scss';

section{
h1{
	color:salmon;
	font-size: 20px;
	background: url('./cat4.png') no-repeat;
	background-size: 100%;
	height: 100px;
}
}

img{
	@include wh(400px,400px);
}

.name::after{
	content: '\2022\2022';
	@include c(red);
}

.svgIcon{
	display: inline-block;
	vertical-align: middle;
}