//@import "styles/mixin.scss";

.name{
	color:hotpink;
}

#root.name{
	color:red;
	border: 5px solid saddlebrown;
}

.yoyoyo{
	display: flex;
	font-size: 14px;
}

.bg1{
	background: url("../images/1.jpg") no-repeat;
	width: 100px;
	height: 100px;
	background-size: 100%;
}

.bg2{
	background: url(../images/1.jpg) no-repeat;
	width: 100px;
	height: 100px;
	background-size: 100%;
}

div div:last-of-type.name{
	color:red;
}

section{
	font-size: 30px;
}

img{
	width: 400px;
	height: 300px;
}