@import '../styles/mixin.scss';

.container{
	@include wh(300px,200px);
	border:1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./bg.png);
	background-repeat: no-repeat;
	color: sandybrown;

	h1{
		background-color: red;
		padding: 5px 20px;
		border-radius: 5px;
	}
}

.container:hover{
	background-image: url(./bg.jpg);
}

.container h1:hover{
	background: url(./bg.svg) repeat;
	color:red;
}