@import '../styles/mixin.scss';
@font-face {
  font-family: xuicon;
  src: url(../fonts/1.eot);
  src: url(../fonts/2.eot#iefix) format("embedded-opentype"), url(../fonts/5.woff) format("woff"), url(../fonts/4.ttf) format("truetype"), url(../fonts/3.svg#iconfont) format("svg")
}

.xuicon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.xuicon:before {
  display: block;
  font-family: xuicon !important
}

.xuicon-web_ic_all_h:before {
  content: "\e605"
}

.xuicon-web_ic_all_n:before {
  content: "\e606"
}

.xuicon-web_ic_play_m_N:before {
  content: "\e60d"
}

.xuicon-web_ic_play_l:before {
  content: "\e60e"
}

.xuicon-web_ic_play_s_h:before {
  content: "\e60f"
}

.container {
  @include wh(300px, 200px);
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  color: sandybrown;
  h1 {
    background-color: red;
    padding: 5px 20px;
    border-radius: 5px;
  }
}

.container,
h1 {
  color: red;
}

.container:hover {
  background-image: url(./bg.jpg);
}

.container h1:hover {
  background: url(./bg.svg) repeat;
  color: red;
}